@import '../common/color';

.modal {
  position: fixed;
  left: 50%;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  z-index: 99;
  transform: translate3d(-50%, 0, 0);
  animation: modal 3s 0.5s linear forwards;

  &.ignore {
    font-size: 12px;
  }
}

@keyframes modal {
  0% {
    top: 0;
  }
  20% {
    top: 65px;
  }
  80% {
    top: 65px;
  }
  100% {
    top: 0;
  }
}
