$white: #ffffff;

$day-title: #171717;
$day-text: #878787;
$day-icon: #171717;
$day-bg: #ffffff;
$day-br: #ecebec;
$day-theme: #ffffff;
$day-reverse: #15161a;
$day-bg2: #f6f6f6;
$day-red: #ff3a3a;

$night-title: #888888;
$night-text: #434445;
$night-icon: #888888;
$night-bg: #15161a;
$night-br: #252525;
$night-theme: #1c1d20;
$night-reverse: #ffffff;
$night-bg2: #1c1d20;
$night-red: #a53e37;
